*.gem
*.rbc
.bundle
.config
.yardoc
.rspec
Gemfile.lock
gemfiles/*.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/dummy/app_*/db/*.sqlite3
spec/dummy/app_*/log/*.log
spec/dummy/app_*/tmp/
spec/dummy_app/log/*.log
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
log/*.log
gemfiles/*.lock
